@font-face {
    font-family: "Ballet Harmony";
    src: url(assets/font/Ballet\ Harmony.ttf) format("truetype");
}

.tailleImage{
    width: 18em;
    height: 15em;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #707070;
}

.balletHarmony {
    font-family: "Ballet Harmony";
    font-size: 2em;
}

.uContainer img{
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.uContainer:hover img {
    opacity: .7;
}